{{> head}}

<body>
    {{> navbar}}
    
    <!-- Add an id or class to nav2 so we can target it in CSS -->
    <div id="nav2">
        {{> nav2}}
    </div>
    
    <div class="container">
        {{{body}}}
    </div>

{{> footer}}
</body>
</html>
