{{> head}}
<link rel="icon" type="image/png" href="/Group 3.png">

<body>
    {{> navbar}}
    
    
    
    <div class="container">
        {{{body}}}
    </div>

{{> footer}}
</body>
</html>
