<style>
  .content{
    
    padding-bottom: 100px;
    justify-items: center;
  }
  .first-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60vh;
      padding: 20px;
      background-image: url("/image.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
       padding-bottom: 100px;
      width: 100%;
    }

    h1 {
      text-align: center;
      font-size: 80px;
      color: #EFAD12;
      font-weight: bold;
    }
</style>
<div class="content">
   <div class="first-section">
        <h1>{{__ 'ADD ADMIN'}}</h1>
    </div>
  <form action="/auth/create-admin" method="post">
    <div style=" padding-top: 100px;">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div style=" padding-bottom: 50px;">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" class="linkbtn">Create Admin</button>
  </form>
</div>
