<Style>
.section{
  padding-left: 500px;
  padding-right: 500px;
}
  @media (max-width: 768px) {
   .section{
  padding-left: 50px;
  padding-right: 50px;
}
  }
</Style>
<div class="section">
<form action="/auth/login" method="post" style="height: 1500px; padding-top: 500px; " >
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
</div>